:root {
  /* Base */
  --color-black: #0e0c15;
  --color-black-10: rgba(0, 0, 0, 0.1);
  --color-white: #ffffff;

  /* Accent */
  --color-primary: #1c64f2;
  --color-primary-light: #4785ff;
  --color-strong: #073ca4;
  --color-strong-down: #0e3176;

  /* Gray Scale */
  --color-gray-1: #616d8d;
  --color-gray-2: #313e62;
  --color-gray-3: #222b44;
  --color-gray-4: #121825;
  --color-gray-4-40: rgba(18, 24, 37, 0.4);
  --color-gray-5: #374151;
  --color-gray-6: #9ca3af;
  --color-gray-7: #171e2f;

  /* Other */
  --color-premium-gradient-start: #1c64f2;
  --color-premium-gradient-end: #d41cf2;
  --color-critic: #fe4242;
  --color-purple: #941cf2;
  --color-aqua: #1cb2f2;
  --color-orange: #f29c1c;
  --color-green: #1abb34;
  --color-yellow: #f2dd1c;
  --color-pink: #ee1cf2;
  --color-gpt-3-5-color: #28a08c;
  --color-gpt-4-color: #735ffa;
  --color-dalle-color: #3876d3;
}
