@use "@/styles/mixins/_breakpoint.scss" as *;
@use '@/styles/mixins/_typography.scss' as *;

.navigation {
  position: relative;
}

.list {
  display: flex;
  width: 100%;
  padding: 0;
  gap: 34px;
  height: 22px;

  @include breakpoint_down(desktop) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    padding: calc(var(--header-height) + 42px) 40px 42px;
    height: unset;
    gap: 42px;
    background: var(--color-black);
    transform: translateY(-100%);
    transition: transform .3s ease-in-out;
    z-index: -2;

    &_visible {
      transform: translateY(0);
    }
  }


  @include breakpoint_down(tablet) {
    padding: calc(var(--header-height) + 42px) 16px 30px;
    gap: 30px;
  }
}

.button {
  @include breakpoint(desktop) {
    display: none;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 14px;
  border-radius: 10px;
  color: var(--color-white);
  text-decoration: none;
  transition: all .3s ease-in-out;
  @include text-m-semibold;

  &:hover {
    color: var(--color-primary);
  }
}