@use "@/styles/mixins/breakpoint.scss" as *;

.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  width: 100%;
  height: var(--header-height);
  padding: 20px 40px;
  z-index: var(--header-index);

  &:after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--color-gray-4-40);
    border-bottom: 1px solid var(--color-gray-3);
    backdrop-filter: blur(9px);
    z-index: -1;
  }

  @include breakpoint(mobile) {
    padding: 16px;
    height: var(--header-mobile-height);
  }
}

.content {
  display: flex;
  align-items: center;
  gap: 14px;
  max-width: 1290px;
  width: 100%;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.block {
  display: flex;
  align-items: center;

  &_left {
    gap: 24px;
    width: 1043px;
    height: 29px;
    order: 0;
    flex-grow: 1;

    @include breakpoint(desktop) {
      height: 34px;
    }
  }

  &_right {
    gap: 34px;
    min-width: 233px;
    height: 40px;
    flex: none;
    order: 1;
    flex-grow: 0;

    @include breakpoint(tablet) {
      min-width: 302px;
    }

    @include breakpoint(mobile) {
      gap: 24px;
      min-width: 127px;
    }
  }
}